/* Setting */
* ::before ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #F8F8F8 ;
    font-size: 15px;
    line-height: normal;
    font-family: Montserrat,Roboto,Arial,sans-serif;
    letter-spacing: 0;
    height: 100%;
    width: 100%;
}
h2{
    font-size: 18px;
    font-weight: bold;
}
h5{
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
h4{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
input{
    font-size: 15px !important;
    font-weight: normal !important;
}
button,span,select{
    font-size: 15px !important;
    font-weight: normal;
}
.form-check{
    padding-left: 0;
}

.form-check input{
    margin-top: 0;
    margin-left: 0;
    width: 15px !important;
    height: 15px !important;
}
input[type=checkbox]{
    accent-color:#33d593;
    color: #ffffff !important;
}
.form-control{
    border: none;
    height: 34px;
}
.input-group-text{
    border: none;
}
.form-check label{
    margin-left: 24px;
}
.custom-select:focus{
    outline: none !important; 
    box-shadow: none !important;
    border: 1px solid #ced4da;
}
.form-control:focus {
    outline: none !important; 
    box-shadow: none !important;
    border: 1px solid #ced4da;
}
.input-group .dropdown-toggle::after{
    content: none !important;
} 
.input-group .btn span{
    vertical-align: middle;
}
.material-symbols-outlined{
    font-size: 15px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' bold,
    'GRAD' 0,
    'opsz' 10
}
/* Endsetting */
/* setting nav slide */
.swiperCarousel{
    position: relative;
    width: 610px;
    /* height: 39px; */
    border-bottom: 1px solid rgb(182, 182, 182);
    margin: 0 25px;
}
.swiperCarousel .nav{
    flex-wrap: nowrap;
    margin: 0 10px !important;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;  
}
.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 30px !important;
    font-weight: bolder;
    color: #303030;
}
.swiper-button-prev{
    left: 0 !important;
}
.swiper-button-next{
    right: 0 !important;
}

/* end setting */

/* Navbar Invoice top */
/* .project-tab #tabs{
    background: #007b5e;
    color: #eee;
} */
.nav_project{
    padding: 0 15px 0 45px;
}
.project-tab .swiperCarousel .nav-tabs{
    border: none;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #303030;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid #32D593  !important;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #abadb9;
    font-size: 15px;
    font-weight: bold;
}
.project-tab .nav-link{
    padding: 0;
}

.nav_action button{
    color: #A3A5B2;
    background-color: white;
    outline: none;
    border: 1px white solid;
    border-radius: 10px;
}
.nav_action .btn_add {
    margin-right: 15px;
    width: 40px;
    font-weight: bolder;
}
.nav_action .ic_invoice{
    transform: rotate(180deg);
}
.nav_action .btn_save{
    /* padding: 11px 10px 0 10px; */
}
.nav_action .btn_save span{
    padding-top: 2px;
}
.nav_action .btn_add .material-symbols-outlined{
    font-size: 18px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 10
}
.nav_action button:hover{
    box-shadow: 2px 3px 10px #0000001A;
    color: #32D593;
}
.nav_action button:hover .material-symbols-outlined{
    color: #32D593;
}
.nav_action button .material-symbols-outlined{
    color: #abadb9;
}
/* End Navbar invoice top */

/* Table Invoice */

.tab_top .btn{
    border-right: 1px solid #ced4da;
    height: 34px;
}
.tab_top .btn:focus{
    box-shadow: none;
}

.tab_top .custom-switch{
    padding-left: 2rem;
}
.tab_top .lbl_switch{
    font-size: 15px;
    font-weight: normal;
    padding: 5% 0 5% 5%;
}

.tbl_invoice{
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    height: 100%;
}
.custom-switch .custom-control-label::before {
    width: 40px;
    height: 20px;
}
.custom-switch .custom-control-label::after {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    background-color: #FFFFFF;
}
.custom-control-input:not(:checked) ~ .custom-control-label::before {
    box-shadow: inset 0px 2px 3px #00000029;
    background-color: #f8f8f8;
    background: linear-gradient(0deg, rgba(248,248,248,1) 78%, rgba(221,221,221,1) 100%);
    border-radius: 15px;
    border: none;
}
.custom-control-input:checked ~ .custom-control-label::before {
    box-shadow: inset 0px 2px 3px #00000029;
    background-color: #33d593; 
    border-radius: 15px;
    border: none;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after{
   transform: translateX(1.38rem); 
}
.input-group{
    border: 1px solid #E5E5E5;
    border-radius:  5px;
    height: 36px;
}
.input-group input:focus{
    border: 1px solid gray;
}
.tbl_select .btn_group{
    border: none !important;
    background-color: white !important;
    padding: 10px 10px;
}
.tbl_select .btn_select{
    border: none !important;
    padding-left: 0;
}
.nav_project .btn_cancel{
    margin: 0.7rem 0.5rem 0 0.3rem !important;
    color: #a3a5b2;
    cursor: pointer;
}
.nav_project .btn_cancel span{
    padding-top: 0;

}
.tab-content table{
    border-bottom-left-radius: 10px;
}
.tab-content table tr{
    font-size: 15px;
}
.tab-content table tr th{
    font-weight: 700;
    border: none;

}
.table td, .table th{
    border: none;
}
.tab-content .btn_cancel{
    color: white;
    border-radius: 50%;;
    background-color: #A3A5B2;
    
}
.tab-content{
    position: relative;
}
.btn_cancel:hover{
    color: #303030;
    text-decoration: none;
}
.scrollbar_invoice::-webkit-scrollbar-track {
    background-color: none;
    border-bottom-right-radius: 10px;
}
.scrollbar_invoice::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

.scrollbar_invoice::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 10px;
    background-color: #A3A5B2;
}

.scrollbar_invoice:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #303030;
    }
  }
.square::-webkit-scrollbar-track {
    border-bottom-right-radius: 10px !important;
    
}

.square::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 10px;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    overflow: auto;
    height: 380px;
    background: none;
    border: none;
    border-bottom-right-radius: 10px;
}
.card-body{
    padding: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #A3A5B2 0.05;

}
/* End table invoice */

/* Product*/
.sale_consultant .input-group-prepend .input-group-text{
    background-color: white !important;
}
.sale_consultant .form-control{
    border-left: none;
}
.product_list{
    padding: 0 -15px;
}
.product_list .product{
    font-size: 13px;    
    font-weight: bold;
    padding: 0 15px;
    margin: 7.5px 0;
}
.product_list .product .bg_product{
    position: relative;
    border-radius: 10px;
    width: 170px;
    height: 170px;
}

.product .product_price{
    position: absolute;
    top: 50%;
    left: 5%;
}
.product .product_title{
    position: absolute;
    bottom: 0 !important;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #303030;
    text-align: left;
    color:white;
    bottom: 0;
    padding: 8px 0;
}
.product_title p{
    line-height: normal;
    padding-left: 5%;
}
.product .product_price span{
    border-radius: 10px;
    background-color: #33d593;
    font-size: 13px;
    font-weight: bold;
    
}
/* End product */

/* Tab payment right */
.tab_invoice{
    height: 100%;
    right: 0;
    padding-left: 0;
}
.nav_bar{
    color:black;
    font-size: 15px;
}
.nav_bar .btn{
    height: 40px;
    font-size: 15px;
}
.nav_bar button span{
    font-size: 15px !important;
}
.btn_notic .btn .is_online::before{
    position: absolute;
    content: '\2022';
    font-size: 30px;
    color: #33d593;
    top: -10px;
    right: 10px;
}
.btn_widgets .btn{
    padding: 0 0;
}
.btn_widgets .btn .material-symbols-outlined {
    font-size: 24px !important;
}

.nav_bar .total_warehouse .btn{
    /* padding: 5px 3px !important; */
    font-size: 15px !important;
}
.total_warehouse button{
    background:none;
    color: #000;
}
.total_warehouse .btn span{
    vertical-align: middle;
}
.total_warehouse .dropdown-toggle::after{
    content: none !important;
}
.nav_bar .btn::after{
    border: none;
    
}
.nav_bar .btn{
    border-radius: 10px;
}
.nav_bar .btn:hover{
    background-color: #E5E5E5;
}

.detail_invoice{
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
}
.detail_invoice .date_time span{
    padding-top: 2px;
}

.detail_invoice .at_store .btn{
    padding: 0;
    font-size: 15px !important;
    font-weight: bold;
}
.at_store button{
    background:none;
    color: #303030;
}
.at_store .btn span{
    vertical-align: middle;
    padding-bottom: 3px;
}
.at_store .dropdown-toggle::after{
    content: none !important;
}

.find_user{
    /* margin: 0 -8px 0 -8px; */
    padding: 0 21px;
}
@media (min-width:1700px) {
    .find_user .col_search{
        width: 70% !important;
    }
    .find_user .col_shipping{
        width: 12% !important;
    }
    .find_user .col_gift{
        width: 18% !important;
    }
}
@media (min-width:992px){
    .find_user .col_search{
        width: 60%;
    }
    .find_user .col_shipping{
        width: 15%;
    }
    .find_user .col_gift{
        width: 25%;
    }
}

.col_search, .col_shipping, .col_gift{
    padding:0 8px;
}
.find_user .find_group{
    border: 1px solid #c5c4c4;
    border-radius: 5px;
    height: 36px;
}
.find_user .input-group-append{
    height: 34px;
    background-color: #F8F8F8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.find_group input{
    height: 34px !important;
    padding: 0.375rem 0.75rem !important;
    border: none !important;
}
.find_user .find_btn{
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn_shipping{
    width: 36px;
    height: 36px;
    border: 1px solid #c5c4c4;
    border-radius: 5px;
}
.btn_gift .at_store .btn{
    padding: 0;
    font-size: 15px !important;
    font-weight: bold;
}

.btn_gift button{
    height: 36px;
    color: #303030;
    border: 1px solid #c5c4c4;
    background-color: #f0f0f0;
    border-radius: 5px ;
    padding: 0 12px;
}
.btn_gift .dropdown-toggle::after{
    content: none !important;
}
.col-gift{
    /* padding-right: 15px !important; */
}
.tbl_payment h5{
    font-size: 15px;
    font-weight: 700;
}
.tbl_payment{
    height: 100%;
}

.total_price .price_bg{
    background-color: #33d593;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    /* padding-top: 1%; */
}
.deposit_price {
    font-size: 15px; 
}
.deposit_price h5{
    font-size: 15px;
    font-weight: normal;
    color:#33d593;
}
.cash{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 0;
}
.cash span{
    color:#33d593
}
.cash .cash_title, .cash .cash_total{
    border-bottom: 1px solid #E5E5E5;
}
.cash input:focus{
    outline: none !important;
}
.cash input:focus   .cash_title{
    border-bottom: 3px solid #E5E5E5;
}
.cash .cash_total input{
    border: none !important;
    text-align: right;
}
.search-container {
    position: relative;
}
#search-input {
    width: 100%;
    border:none;
}

#search-results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;

}
#search-results li {
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #E5E5E5;
}
  
  #search-results li:hover {
    background-color: #f5f5f5;
  }
.border_bottom{
    border-bottom: 1px solid #c5c4c4;
}
.print_invoice .lbl_switch{
    font-size: 15px;
    font-weight: 400;
    padding: 2% 0 2% 4%;
}
.print_invoice h5{
    font-size: 15px;
    font-weight: 400;
}
.tbl_paymentBottom{
    left: -1px;
    padding-right: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #F8F8F8;
}
.background_primary{
    margin-left:1px;
    margin-right: -1px;
    background-color: #fff;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}
.ipn_note .form-control{
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}
.ipn_note .form-control:focus{
    border: 1px solid #303030;
}

.suggest{
    padding: 0 7.5px;
}
.suggest .bg_suggest{
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
} 
.bg_suggest p{
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 10px 0;
}
.btn_payment{
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #F8F8F8;
}
.btn_payment button{
    border-radius: 10px;
}
.btn_payment .btn_save{
    background-color: #a3a5b2;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 10px;
}
.btn_payment .col-5, .btn_payment .col-sm-5, .btn_payment .col-lg-5, .btn_payment .col-xl-5{
    padding-right: 7.5px !important;
}
.btn_payment .col-7, .btn_payment .col-sm-7, .btn_payment .col-lg-7, .btn_payment .col-xl-7{
    padding-left: 7.5px !important;
}
.btn_payment .btn_givemoney{
    background-color: #32d593;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 10px 0;
}
